server {
    listen 9200 ssl;
    server_name _;

    ssl_certificate     /etc/kibana/certs/instance/instance.crt;
    ssl_certificate_key /etc/kibana/certs/instance/instance.key;

    location / {
        proxy_pass https://es_backends;
        proxy_ssl_verify off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}

upstream es_backends {
    {% for host in groups['elasticsearch_master'] + groups['elasticsearch_nodes'] %}
    server {{ hostvars[host]['inventory_hostname'] }}:9200;
    {% endfor %}
}
