$TTL 604800
@   IN  SOA ns1.{{ item.0 }}.{{ item.1 }}.{{ domain_suffix }}.  (
              2         ; Serial
         604800         ; Refresh
          86400         ; Retry
        2419200         ; Expire
         604800 )       ; Negative Cache TTL
;
@   IN  NS  ns1.{{ item.0 }}.{{ item.1 }}.{{ domain_suffix }}.
ns1 IN  A   {{ questions_ip }} 
@   IN  A   {{ questions_ip }}

